* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 18px;
	padding: 50px 20px;
	font-family: 'Overpass', sans-serif;
	background: #ffffff;
	color: #171926;
}

.logo {
	width: 100%;
	max-width: 300px;
	margin-bottom: 80px;
	fill: #171926;
}

.cta {
	padding: 14px 30px;
	font-size: 1.2rem;
	font-weight: 800;
	text-decoration: none;
	background: #171926;
	color: #ffffff;
}

.cta:hover {
	opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #171926;
		color: #ffffff;
	}

	.logo {
		fill: #ffffff;
	}

	.cta {
		background: #ffffff;
		color: #171926;
	}
}
